services:
  carboncertifier:
    image: carboncertifier
    build:
      context: .
      dockerfile: CarbonCertifier/Dockerfile
    networks:
      - carbon_net

  carbonblockchain:
    image: carbonblockchain
    build:
      context: .
      dockerfile: CarbonBlockchain/Dockerfile
    networks:
      - carbon_net
  
  carboncertifierdb:
    image: postgres
    container_name: CarbonCertifierDb
    environment:
      POSTGRES_USER: postgres         
      POSTGRES_PASSWORD: 1234  
      POSTGRES_DB: CarbonCertifier
    ports:
      - "5432:5432" 
    volumes:
      - certifier_postgres_data:/var/lib/postgresql/data 
    networks:
      - carbon_net
      
  carbonblockchaindb:
    image: postgres
    container_name: CarbonBlockchainDb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: CarbonBlockchain
    ports:
      - "5434:5434"
    volumes:
      - certifier_postgres_data:/var/lib/postgresql/data
    networks:
      - carbon_net

volumes:
  certifier_postgres_data:
  credit_postgres_data:
    
networks:
  carbon_net:
    driver: bridge

     
    
