services:
  carboncertifier:
    image: carboncertifier
    build:
      context: .
      dockerfile: CarbonCertifier/Dockerfile
    ports:
      - "5207:5207"
    networks:
      - carbon_net

  carbonblockchain:
    image: carbonblockchain
    build:
      context: .
      dockerfile: CarbonBlockchain/Dockerfile
    ports:
      - "5208:5208"
    networks:
      - carbon_net
      
  carbondb:
    image: postgres
    container_name: CarbonDb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: postgres
      PGDATA: /var/lib/postgresql/data/pgdata

    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./Scripts/initdb.sql:/docker-entrypoint-initdb.d/initdb.sql
      - ./Logs:/var/lib/postgresql/data/pg_logs

    command: >
      postgres
      -c logging_collector=on
      -c log_directory=pg_logs
      -c log_filename=postgresql.log

    networks:
      - carbon_net
    
volumes:
  postgres_data:

networks:
  carbon_net:
    driver: bridge

     
    
